<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quản Lý Nhà Kho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae529ab5a3.js" crossorigin="anonymous"></script>
    <!-- background: linear-gradient(#E9D6FF, #E2E2E2); -->

    <style>
      body{
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>

  <body>

    <div class="container pb-5">

      <div class="row p-1 justify-content-lg-between">

        <div class="col-5 rounded shadow p-2 justify-content-center d-flex" style="background-color: white;">
          <img src="https://grovegroup.net/Data/Sites/1/media/img/logo.png" class="rounded float-start" alt="Grove image">
        </div>

        <div class="col justify-content-center d-flex p-2">

          <div class="row justify-content-md-center">
            <div class="col md-auto text-center">
              <span class="border rounded">
                  Khu Công Nghiệp Sóng Thần - Bình Dương
              </span>
            </div>

          </div>

        </div>

      <div class="justify-content-center text-center">
        <div class= "card-header rounded-pill mt-3">
          <h2 class="text-center text-wrap fw-bolder display-5" style="font-family: Trebuchet MS, sans-serif;"> 
            Đăng kí thông tin tài xế
          </h2>
        </div>
      </div>

      <div class= "card-body mt-1 p-3 border border-2 shadow rounded-1" 
            style="background:#eeeeee;">
        <form action="/" method="post">

          <div class="row gx-5">

            <div class="col-6 mb-3">
              <span class="rounded bg-danger bg-gradient p-1 mb-2">
                <label class="form-label text-white">Tên tài xế:</label>
              </span>
              
              <input type="text" class="form-control" placeholder="Ex. Nguyen Van A" maxlength="30" style="max-width: 40vw;"
                      name="name" value="{{request.form.name }}">
            </div>

            <div class="col-6 mb-3">
              <span class="rounded bg-danger bg-gradient p-1 mb-2">
                <label class="form-label text-white">Số điện thoại:</label>
              </span>
  
              <input type="text" class="form-control" placeholder="Ex. 0909 123 456"  maxlength="11" style="max-width: 40vw;"
                      name="phone" value="{{request.form.phone}}">
            </div>

          </div>

          <div class="row gx-5">

            <div class="col-6 mb-3">
              <span class="rounded bg-danger bg-gradient p-1 mb-2">
                <label class="form-label text-white">Biển số xe:</label>
              </span>

              <input type="text" class="form-control" placeholder="Ex. 60S2-14799" maxlength="12" style="max-width: 40vw;"
                      name="plate" value="{{request.form.plate}}">
            </div>

            <div class="col-6 mb-3">
              <span class="rounded bg-danger bg-gradient p-1 mb-2">
                <label class="form-label text-white">Số tấn book:</label>
              </span>
              <input type="text" class="form-control" placeholder="Ex. 50" maxlength="3" style="max-width: 40vw;"
                      name="book" value="{{request.form.book}}">
            </div>

          </div>


          <div class="container">

            <div class="row">

              <div class="col">

                <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle" 
                          type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Chọn khung thời gian
                  </button>
                  <ul class="dropdown-menu overflow-auto" style="max-height:100px; max-width:450px;">
                    <li><a class="dropdown-item" href="#">Từ 8h00 đến 8h30</a></li>
                    <li><a class="dropdown-item" href="#">Từ 8h30 đến 9h00</a></li>
                    <li><a class="dropdown-item" href="#">Từ 9h00 đến 9h30</a></li>
                  </ul>
                </div>
              </div>


            <div class="coltext-center">
              <span class="border rounded">
                Khu Công Nghiệp Sóng Thần - Bình Dương
              </span>
            </div>

            </div>

          </div>

          <table class="table my-2">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Khung thời gian</th>
                <th scope="col">Sức chứa</th>
                <th scope="col">Số xe đã đăng kí</th>
                <th scope="col">Số tấn còn trống</th>
                <th scope="col">Số tấn đã book</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <th scope="row">1</th>
                <td>8h00 - 8h30</td>
                <td>50 tấn</td>
                <td>10 xe</td>
                <td>20 tấn</td>
                <td>30 tấn</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>8h30 - 9h00</td>
                <td>50 tấn</td>
                <td>1 xe</td>
                <td>1 tấn</td>
                <td>49 tấn</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>9h00 - 9h30</td>
                <td>50 tấn</td>
                <td>5 xe</td>
                <td>20 tấn</td>
                <td>30 tấn</td>
              </tr>

            </tbody>
          </table>


          <div class="text-center">
            <button id= "register" type="submit" class="btn btn-outline-success my-2 btn-lg">
              Đăng kí
            </button>
          </div>

<!--           <script type="text/javascript">
              document.getElementById("register").onclick = function() {
                  document.getElementById("messagebox").style.display = "inline";
              }
          </script> -->
        </form>

        <div id= "messagebox" class = "alert alert-primary" role="alert" style="display: {{ messDisplay }};">
          <strong>{{ title }}</strong> {{ message }}
        </div>

      </div>
    </div>
  </body>

  <footer class="text-center text-lg-start text-muted"
          style="background-color: #e2f1f8;"
          >
    <div class="container">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-lg-between p-2 border-bottom rounded-bottom "
        style="background-color:#e2f1f8;" 
        
      >        <!--background: linear-gradient(to top, #FC5C7D, #6A82FB); -->

        <!-- Left -->
        <div class="me-4 d-none d-lg-block">
          <span>
            <h4><i class="fa-solid fa-globe"></i> &nbsp;Mạng xã hội</h4>
          </span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div class="me-4 d-none d-lg-block">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f fa-xl"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter fa-xl"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google fa-xl"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram fa-xl"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin fa-xl"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github fa-xl"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-3">
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-1 col-lg-4 col-xl-3 mx-auto mb-2">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-3">
                <i class="fas fa-gem me-3"></i>GROVE
              </h6>
              <p>
                /ɡrəʊv/ - noun
                a group of trees planted close together.
              </p>
              <p>
                Grove có nghĩa là một nhóm cây nhỏ, một vùng đất nhỏ với nhiều loại cây ăn quả khác nhau. Là nơi "
                <b>Nuôi dưỡng</b>-<b>Chăm sóc</b>-<b>Gắn kết</b>". Hướng đến sự phát triển bền vững và khỏe mạnh.
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-2">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-3">
                LĨNH VỰC HOẠT ĐỘNG
              </h6>
              <p>
                <a href="https://grovegroup.net/he-sinh-thai-grove/grove-retail" 
                  class="text-reset" style="text-decoration: none" target="_blank">Grove Retail</a>
              </p>
              <p>
                <a href="https://grovegroup.net/he-sinh-thai-grove/grove-distribution" 
                  class="text-reset" style="text-decoration: none" target="_blank">Grove Distribution</a>
              </p>
              <p>
                <a href="https://grovegroup.net/he-sinh-thai-grove/grove-logistics" 
                  class="text-reset" style="text-decoration: none" target="_blank">Grove Logistics</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-3">
                LIÊN KẾT NHANH
              </h6>
              <p>
                <a href="https://grovegroup.net/gioi-thieu-1" 
                  class="text-reset" style="text-decoration: none" target="_blank">Giới thiệu</a>
              </p>
              <p>
                <a href="https://grovegroup.net/tin-tuc-1" 
                  class="text-reset" style="text-decoration: none" target="_blank">Tin tức</a>
              </p>
              <p>
                <a href="https://grovegroup.net/co-hoi-viec-lam" 
                  class="text-reset" style="text-decoration: none" target="_blank">Cơ hội việc làm</a>
              </p>
              <p>
                <a href="https://grovegroup.net/lien-he" 
                  class="text-reset" style="text-decoration: none" target="_blank">Liên hệ</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-1 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-3">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i> Địa chỉ trụ sở: 212 Pasteur, Phường Võ Thị Sáu, Quận 3, TP.HCM, Việt Nam</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@grovegroup.net 
              </p>
              <p><i class="fas fa-phone me-3"></i> (+8428) 3828 2278</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <!--  style="background: linear-gradient(to top, #c5e4e8, #9dbdcd);" -->    
      <div class="text-center p-2 border rounded" 
            style="background-color:#e2f1f8";
        >
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://youtu.be/BWf-eARnf6U"
            style="text-decoration: none" target="_blank">Iric Do</a>
      </div>
      <!-- Copyright -->
    </div>
  </footer>

</html>